:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: black;
}

#container {
    border: 3px lime solid;
    display: flex;
    position: relative;
    
}

.enemy1 {
    position: absolute;
}

